.form-header {
    background-color: #FAD648;
    padding: 2rem 10rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  
    &__title {
      color: black;
      font-size: 1.6rem;
      margin-bottom: 1rem;
      font-weight: 700;
    }
  
    &__description {
      color: #333;
      font-size: 1.1rem;
      line-height: 1.2;
      
    }
  }