.header{
    width: 683px;
    height: 95px;
    position: absolute;
    margin-top: 37px;
    left: 50%;
    background: #FFF;
    z-index: 1;

    &-topgroup{
        top: 46px;
        text-align: right;
        letter-spacing: 0px;
        color: $color-text;
        opacity: 1;
        font-size: 14px;
    }
    &-nav{
        height: 42px;
        width: 683px;
    }
    &-ul{
        display: flex;
        font-family: $font-open-sans;
        font-size: 18px;
        color: $color-dark;
        display: flex;
        gap: 24px;
    

        .header-li{
        padding: 10px;
        margin-left: auto;
        border: 0.75px solid transparent;
        text-decoration: none;
        color: $color-dark;
        
        &:hover{
            border-color: $color-dark;
        }
        }
    }
}

.btn-header{
padding: 10px;
margin: 8px;
background: none;
border: none;
outline: none;
border: 0.75px solid transparent;

    &:hover{
        border-color: $color-accent ;
        opacity: 1;
    }
}
